<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ topic.name }}</title>
    </head>
    <body>
        <h1>{{ topic.name }}</h1>
        <h5>{{ topic.description }}</h5>
        <ul>
        {% for comment in comment_list %}
            <li>{{ comment.text }} <a href="/category/{{ topic.category_id }}/topic/{{ topic.id }}/comment/{{ comment.id }}/">перейти</a></li>
        {% endfor %}
        </ul>
        <br>
        <br>
        <a href="/category/{{ topic.category_id }}/topic/{{ topic.id }}/comment/add/">Добавить комментарий</a>
        <br>
        <br>
        <a href="/">Главная</a>
    </body>
</html>
